h1, h2 {
	font-family: 'globerbold_free';
}
.contact_form h2 {
		text-transform: uppercase;
}
.globersemibold {
	font-family: 'globerbold_free';
}
.robotomedium {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
}
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.light_green {
	color: #82c341;
}
.bg_light_green {
	background-color: #82c341;
}
.bg_light_green.card {
	border: 0;
	background-color: #82c341;
}
.bg_texture {
	background: #82c341 url('../img/texture.png') no-repeat;
	min-height: 320px;
	background-position: bottom;
}
.contact_form {
	padding: 80px 20px 40px;
}
.dark_green {
	color: #001300;
}
.white {
	color: #ffffff;
}
.bg_white {
	background: #ffffff;
}
.bg_grey {
	background: #c4c4c4;
}
#header {
	height: 135px;
	line-height: 153px;
	background: #001300;
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid #ffffff;
	position: relative;
	-webkit-box-shadow: 0px 7px 39px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 7px 39px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 7px 39px 0px rgba(0,0,0,0.75);
}
#header_badge {
	position: absolute;
	top:76px;
	left:20px;
	z-index: 100;
}
#header h1 {
	line-height: 153px;
	font-family: 'globerbold_free';
	vertical-align: middle;
}
@media (max-width: 1000px) { 
#header h1 {  	font-size: 1.5rem; }
}
@media (max-width: 700px) { 
  	#header h1 {font-size: 1.1rem; }
}
@media (max-width: 500px) { 
  	#header h1 {font-size: 0.9rem; }
}
#call_header {
	background: url('../img/bg_call_header.png') no-repeat;
	width: 759px;
	margin-top:14px;
    background-size: 60%;
    background-position: 0% 50%;
}
#call_header .text {
	padding-left: 65px;
	font-family: 'globerthin_free';
}
.grey_area {
	background: #f4f4f4;
	height: 245px;
}
.action .col-xs-12 img {
	width: 100%;
	height: auto;
}
.txt_row {
	margin-top: 15px;
	font-family: 'globerbold_free';
}
.btn_green {
	background-color: #58ae97;
	width: 242px;
	height: 50px;
	color: #ffffff;
	text-align: center;
	font-family: 'globerbold_free';
	font-size: 2.1em;
}
.btn_light_green {
	background-color: #82c341;
	width: 242px;
	height: 50px;
	color: #ffffff;
	text-align: center;
	font-family: 'globerbold_free';
	font-size: 1.3em;
	padding: 10px 25px;
}
.reserve_btn.btn_light_green {
	width: 100%;
	font-size:1.1em;
	padding: 10px 15px;
}
.btn_light_green:hover {
	color: #ffffff;
	cursor: pointer;
}
.contacts .img-circle{
	height: 80px;
	width: 80px;
	background-color: #c4c4c4;
	margin: 0 auto;
	font-size: 2em;
}
.contacts .img-circle i{
	padding-top: 23px;
}
.contacts {
	font-family: 'globerbold_free';
}
.microsites a h3 {
	padding: 10px 0;
	color: #ffffff;
}
.microsites a:hover{
	text-decoration: none;
} 
.microsites {
	padding-top:20px;
	padding-bottom: 20px;
	background: #c4c4c4 url('../img/microsites_texture.png') no-repeat;
	min-height: 320px;
	background-position: top;
}
.pictures_section {
	padding: 40px 0;
}
.pictures_section h2 {
	font-family: 'Roboto', sans-serif;
}
.pictures_section h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
}
.pictures_section .row {
	padding-bottom: 20px;
}
.pictures_section a:active,
.pictures_section a:focus {
	color: #ffffff;
}