<!DOCTYPE html>
<html lang="cz">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<meta name="description" content="<%= meta_description %>" />
	<meta name="keywords" content="<%= meta_keywords %>" />
	<meta name="author" content="bioworx.net" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="fonts/glober_boldfree_czech/stylesheet.css" type="text/css" rel="stylesheet" />
	<!-- <link href="fonts/glober_thinfree_czech/stylesheet.css" type="text/css" rel="stylesheet" /> -->

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

	<link href="fonts/stylesheet.css" type="text/css" rel="stylesheet" />
	<link href="css/micro.css" type="text/css" rel="stylesheet" />
	<link href="bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


	<link rel="apple-touch-icon" sizes="57x57" href="/favicons/<%= favicon %>/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicons/<%= favicon %>/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicons/<%= favicon %>/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicons/<%= favicon %>/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicons/<%= favicon %>/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicons/<%= favicon %>/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicons/<%= favicon %>/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicons/<%= favicon %>/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/<%= favicon %>/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/<%= favicon %>/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/<%= favicon %>/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicons/<%= favicon %>/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/<%= favicon %>/favicon-16x16.png">
	<link rel="manifest" href="/favicons/<%= favicon %>/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicons/<%= favicon %>/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

</head>
<body>
	<div class="container-fluid" id="header">
		<div id="header_badge" class="hidden-xs-down">
			<a href="http://www.umyjemto.cz" target="_blank">
				<img src="img/umyjem_to_badge.png" alt="img_link" />
			</a>
		</div>
		<div class="pull-xs-left col-lg-6 col-xs-6">
			<h1 class="white"><span class="light_green">Nejlevnejší</span><%= siteheader %><span class="light_green">.cz</span></h1>
		</div>
		<div class="pull-xs-right col-lg-6 col-xs-6">
			<div id="call_header">
				<div class="text"><span class="text-uppercase dark_green" style="font-size:1.2rem;">Volejte zdarma</span> <span class="white" style="font-size:2.5rem;">800 221 227</span></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="action">
			<div class="no-padding col-xs-12">
				<img src="img/bg_action.png" class="img-fluid" alt="info_grafika"/>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="txt_row">
			<div class="col-xs-4">
				<h3 class="dark_green">VOLEJTE 7 dní v týdnu a to zcela zdarma</h3>
				<p class="robotomedium">Pro objednávku, nacenění volejte bezplatně 7 dní v týdnu na toto číslo: </p>
			</div>
			<div class="col-xs-4">
				<h3 class="dark_green">Provedeme zkoušku <span class="light_green"> zdarma</span> a společně zhodnotíme stav znečištění</h3>
				<p class="robotomedium">Přijedeme v domluvený termín a provedeme zkoušku na cca 1m<sup>2</sup> povrchu, kterou doplníme o nezávaznou kalkulaci.</p>

			</div>
			<div class="col-xs-4">
				<h3 class="dark_green">V případě zájmu <span class="light_green">dohodneme termín</span> a zařídíme objednávku</h3>
				<p class="robotomedium">V případě Vašeho zájmu sepíšeme objednávku a domluvíme termín realizace. Obvykle však tuto službu realizujeme ještě ten den.
				</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="btn_row">
			<div class="col-xs-4">
				<div class="btn_green center-block">
					800 221 227
				</div>
			</div>
			<div class="col-xs-4">
				<div class="btn_green center-block">
					100% zdarma
				</div>
			</div>
			<div class="col-xs-4">
				<a href="#contact_form" class="btn_light_green center-block">
					objednat zde
				</a>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="container pictures_section">

			<% for(var i=0; i<info_articles.length; i++) {%>
				<div class="row">
					<%if (info_articles[i].type=="left") {%>
					<div class="col-xs-12 col-md-6">
					<img style="box-shadow: inset 0px 0px 30px 30px #888888;" class="img-fluid" src="<%= info_articles[i].img_top %>" alt="obrazek" />
					</div>
					<% } %>
					<div class="col-xs-12 col-md-6">
						<h3><%= info_articles[i].title %></h3>
						<p style="font-size:1em"><%= info_articles[i].sub_title %></p>

						<div class="robotomedium"><%- info_articles[i].content %></div>

						<a class="btn_light_green" style="font-size: 1.5em;" data-toggle="collapse" href="#collapse<%= info_articles[i].id %>" aria-expanded="false" aria-controls="collapse<%= info_articles[i].id %>">Bližší info zde</a>
						<div></div>

					<br />
					<div  class="collapse robotomedium" id="collapse<%= info_articles[i].id %>"><%- info_articles[i].content_extra %>
					</div>
				</div>
				<%if (info_articles[i].type=="right") {%>
				<div class="col-xs-12 col-md-6">
					<img style="box-shadow: inset 0px 0px 30px 30px #888888;" class="img-fluid" src="<%= info_articles[i].img_top %>" alt="obrazek" />
					<!-- <img class="img-fluid" src="<%= info_articles[i].img_bottom %>" alt="obrazek2" /> -->
				</div>
				<% } %>
			</div>
		<% } %>
	</div>
</div>
<div class="container-fluid bg_light_green bg_texture contact_form ">
	<div class="container">
		<div class="col-xs-12 col-md-6">
			<h2 class="white globersemibold">Kontaktní formulář</h2>
			<%- contact_form_text %>

			<p class="robotomedium">Pro objednávku, nacenění volejte opravdu zcela zdarma a my přijedeme v domluvený termín.</p>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="bg_white" style="padding: 30px; overflow:auto;">
				<div class="col-xs-6">
					<img class="img-fluid" src="img/icon_contact_form.png" alt="icon_contact_form" />
				</div>
				<div class="col-xs-6">
					<h2 id="contact_form" style="font-size: 1.2em;">Rychlý formulář</h2>
					<p class="robotomedium">Pošlete nám kontakt a my Vám zavoláme</p>
					<form action="mailto:umyjemto@umyjemto.cz" method="post" enctype="text/plain">
						<fieldset class="form-group">
							<input type="text" class="form-control" id="inputName" placeholder="jméno">
						</fieldset>
						<fieldset class="form-group">
							<input type="text" class="form-control" id="inputSurname" placeholder="přijmení">
						</fieldset>
						<fieldset class="form-group">
							<input type="text" class="form-control" id="inputPhone" placeholder="telefon">
						</fieldset>
						<button style="border:0" type="submit" class="btn_light_green reserve_btn">Odeslat</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="container contacts" style="padding:40px 0;">
	<div class="row">
		<div class="col-xs-12 col-md-3 center-block text-xs-center">
			<div class="img-circle">
				<i class="fa fa-phone"></i>
			</div><br />
			<span style="color: #727475">Telefon</span> <br />
			800 221 227
		</div>
		<div class="col-xs-12 col-md-3 center-block text-xs-center">
			<div class="img-circle" style="padding-top: 13px"><span>@</span></div>
			<br />
			<span style="color: #727475">Email</span><br />
			<a href="mailto:umyjemto@umyjemto.cz">umyjemto@umyjemto.cz</a>
		</div>
		<div class="col-xs-12 col-md-3 center-block text-xs-center">
			<div class="img-circle">
				<i class="fa fa-envelope-o"></i>
			</div>
			<br />
			<span style="color: #727475">Web</span><br />
			<a href="http://www.umyjemto.cz">www.umyjemto.cz</a>
		</div>
		<div class="col-xs-12 col-md-3 center-block text-xs-center">
			<div class="img-circle">
				<i class="fa fa-home"></i>
			</div>
			<br />
			<span style="color: #727475">Adresa</span><br />
			Dobrovského 874/29, 702 00 Ostrava
		</div>
	</div>
</div>

<!-- The jQuery library -->
<script src="js/jquery.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
